body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.project-card {
  height: 400px;
}

.project-heading {
  margin-bottom: 20px;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}
