<div class="container">
  <h1>{{ foundProject.name }}</h1>
  <small>created by {{ foundProject.user.name }}</small>

  <pre>
    {{
      json params
    }}

    {{
      json foundProject
    }}
  </pre>
</div>
