<div class="container">
  <h1>{{ title }}</h1>


  {{#if LOGGEDIN_USER.admin }}
  <div class="row text-center">
    <h2 class="page-header">Add New Project</h2>

    {{> flashes/form_error }}

    <form method="post" action="/projects" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="project[name]" placeholder="Project Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="project[github]" placeholder="Github URL">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="project[public]" placeholder="Public URL">
      </div>
      <div class="form-group">
        <select class="form-control" name="project[category]">
          <option value="1">Project 1</option>
          <option value="2">Project 2</option>
          <option value="3">Project 3</option>
          <option value="4">Project 4</option>
          <option value="5">Other</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  {{/if}}
  <br>

  {{> projects/index }}
</div>
